.container {
    background-color: bisque;
    padding: 30px;
    margin: auto;
    width: 40%;
}
.read__info {
    text-align: center;
}

.back__btn {
    text-decoration: none;
    background-color: darkred;
    border: none;
    outline: none;
    margin-right: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}


